<section class="p-fixed d-flex text-center ">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="login-card card-block auth-body mr-auto ml-auto">
                    <form class="md-float-material" name="form" #f="ngForm" (ngSubmit)="confirm()" novalidate>
                        <div class="auth-box">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left txt-primary">Alterar Senha</h3>
                                </div>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Senha"
                                    [(ngModel)]="login.password" #password="ngModel" required name="password">
                                <div *ngIf="f.submitted && password.invalid" class="error">
                                    <div *ngIf="password.errors.required">Informe sua senha</div>
                                </div>
                                <span class="md-line"></span>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Nova Senha"
                                    [(ngModel)]="login.newPassword" #newPassword="ngModel" required name="newPassword">
                                <div *ngIf="f.submitted && newPassword.invalid" class="error">
                                    <div *ngIf="newPassword.errors.required">Informe uma nova senha</div>
                                </div>
                                <span class="md-line"></span>
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control" placeholder="Confirmar Senha"
                                    [(ngModel)]="login.newPasswordConfirmation" #newPasswordConfirmation="ngModel"
                                    required name="newPasswordConfirmation">
                                <div *ngIf="f.submitted && newPasswordConfirmation.invalid" class="error">
                                    <div *ngIf="newPasswordConfirmation.errors.required">Confirme a nova senha</div>
                                </div>
                                <span class="md-line"></span>
                            </div>
                            <div class="row m-t-15">
                                <div class="col-md-12">
                                    <button type="button" type="submit"
                                        class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end of form -->
                </div>
                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
<app-toasts></app-toasts>