.card{
    &.bg-dark-green{
        background: linear-gradient(45deg, #1ec95d, #3bf47f);
    }
}
table{
    &.numeric{
        & td{
            color:#fff;
        }
        & td:nth-child(2){
            text-align: right;
        }
    }
}
.c3-tooltip td {
    font-size:13px;
    padding: 3px 6px;
    background-color:#fff;
    border-left:1px dotted #999;
    color: #000;
    }