<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" name="form" #f="ngForm" (ngSubmit)="signIn()" novalidate>
            <div class="text-center">
              <img src="assets/images/pig_small.png" alt="Charcutarie Business Manager">
              <span class="login-title">Charcutarie Business Manager</span>
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                </div>
              </div>
              <hr />
              <div class="input-group">
                <select class="form-control" [disabled]="loading" [(ngModel)]="login.corpClientId" #corpClientId="ngModel"
                  name="corpClientId" required>
                  <option [ngValue]="null" *ngIf="loading">Carregando...</option>
                  <option [ngValue]="null" *ngIf="!loading">Selecione sua Empresa</option>
                  <option [ngValue]="c.corpClientId" *ngFor="let c of corpClients">{{c.dbaName}}</option>
                </select>
                <div *ngIf="f.submitted && corpClientId.invalid && !loading" class="error">
                  <div *ngIf="corpClientId.errors.required">Selecione sua Empresa</div>
                </div>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input  [disabled]="loading" type="text" class="form-control" placeholder="Login" [(ngModel)]="login.username"
                  #username="ngModel" required name="username">
                <div *ngIf="f.submitted && username.invalid" class="error">
                  <div *ngIf="username.errors.required">Informe seu login</div>
                </div>
                <span class="md-line"></span>
              </div>
              <div class="input-group">
                <input type="password" [disabled]="loading"  class="form-control" placeholder="Senha" [(ngModel)]="login.password"
                  #password="ngModel" name="password" required>
                <div *ngIf="f.submitted && password.invalid" class="error">
                  <div *ngIf="password.errors.required">Informe sua senha</div>
                </div>
                <span class="md-line"></span>
              </div>
              <div class="row m-t-15 text-left">
                <div class="col-12">
                  <div class="forgot-phone text-right f-right">
                    <a   [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse">Esquece a Senha?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-15">
                <div class="col-md-12">
                  <button type="button" type="submit" [disabled]="loading" 
                    class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                  <div class="input-group" *ngIf="authRes.length">
                    <div class="error text-center">
                      <b>{{authRes}}</b>
                    </div>
                  </div>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Authentication Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/pig_small.png" alt="Charcutarie Business Manager">
                </div>
              </div>

            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>