.card .card-header span {
    line-height: 25px;
    vertical-align: center;
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 15px;
}
.card .card-header  button {
  margin-left: 5px !important;
}