<app-toolbar [title]="'Pedidos'">
    <a [routerLink]="['/order', 'new']" class="btn btn-primary btn-mini  m-l-5" ngbTooltip="Novo">
        <i class="fa fa-plus"></i>
    </a>
    <button class="btn btn-primary btn-mini" placement="top" ngbTooltip="Atualizar" (click)="search()">
        <i class="fa fa-refresh"></i>
    </button>
    <button class="btn btn-primary btn-mini" placement="top" ngbTooltip="Pesquisar" (click)="open(content)">
        <i class="fa fa-search"></i>
    </button>
</app-toolbar>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 form-inline">
                        Exibir&nbsp;
                        <select class="form-control-sm m-w-100 w-100p" [(ngModel)]="paginationInfo.recordsPerpage"
                            (change)="changePageSize()">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="15">15</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                        </select>
                        &nbsp;registros por página
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <a href="javascript:" (click)="sort(1)">#
                                    <ng-container *ngIf="sortColumn == 1; then sorting;else nosorting">
                                    </ng-container>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:" (click)="sort(2)">Cliente
                                    <ng-container *ngIf="sortColumn == 2; then sorting;else nosorting">
                                    </ng-container>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:" (click)="sort(5)">Status do Pedido
                                    <ng-container *ngIf="sortColumn == 5; then sorting;else nosorting">
                                    </ng-container>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:" (click)="sort(4)">Status do Pagamento
                                    <ng-container *ngIf="sortColumn == 4; then sorting;else nosorting">
                                    </ng-container>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:" (click)="sort(7)">Data do Pedido
                                    <ng-container *ngIf="sortColumn == 7; then sorting;else nosorting">
                                    </ng-container>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:" (click)="sort(6)">Finalizar em
                                    <ng-container *ngIf="sortColumn == 6; then sorting;else nosorting">
                                    </ng-container>
                                </a>
                            </th>
                            <th>
                                <a href="javascript:" (click)="sort(8)">Data do Pagamento
                                    <ng-container *ngIf="sortColumn == 8; then sorting;else nosorting">
                                    </ng-container>
                                </a>
                            </th>
                            <th class="text-right">
                                <a href="javascript:" (click)="sort(9)">Preço Final
                                    <ng-container *ngIf="sortColumn == 9; then sorting;else nosorting">
                                    </ng-container>
                                </a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="orders.length > 0">
                            <ng-container *ngFor="let o of orders;let odd=odd">
                                <tr [class.expanded-row]="o.isExpanded" [class.bg-gray]="odd">
                                    <td>
                                        <button class="btn btn-primary btn-mini" (click)="toggle(o)">
                                            <i class="fa"
                                                [ngClass]="{'fa-plus': !o.isExpanded, 'fa-minus': o.isExpanded }"></i>
                                        </button>
                                    </td>
                                    <td>#{{o.orderNumber}}</td>
                                    <td>
                                        {{o.name}}
                                        <p *ngIf="o.socialIdentifier">
                                            <span *ngIf="o.customerTypeId==1">CPF: </span>
                                            <span *ngIf="o.customerTypeId==2">CNPJ: </span>
                                            {{o.socialIdentifier}}
                                        </p>
                                    </td>
                                    <ng-container *ngIf="o.orderStatusId != 4">
                                        <td>
                                            <app-order-status-label
                                                [status]="{orderStatusId:o.orderStatusId, description: o.orderStatus}">
                                            </app-order-status-label>
                                        </td>
                                        <td *ngIf="o.orderStatusId != 4">
                                            <app-payment-status-label
                                                [status]="{paymentStatusId:o.paymentStatusId, description: o.paymentStatus}">
                                            </app-payment-status-label>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="o.orderStatusId == 4">
                                        <td colspan="2">
                                            <span class="label label-danger text-center p-t-5"
                                                style="width: 100%;display:block; font-size: 12px;">
                                                Cancelado
                                            </span>
                                        </td>
                                    </ng-container>
                                    <td>{{o.createdOn | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{o.completeBy | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{o.paidOn | date: 'dd/MM/yyyy'}}</td>
                                    <td class="text-right">{{o.finalPrice | cbmCurrency}}</td>
                                    <td>
                                        <a [routerLink]="['/order', 'details',o.orderNumber]"
                                            class="btn btn-primary btn-mini  m-l-5" placement="top"
                                            ngbTooltip="Detalhes">
                                            <i class="fa fa-list"></i>
                                        </a>
                                        <a [routerLink]="['/order', 'edit',o.orderNumber]"
                                            class="btn btn-primary btn-mini  m-l-5" placement="top" ngbTooltip="Editar">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a [routerLink]="['/order', 'new']" class="btn btn-primary btn-mini  m-l-5"
                                            [state]="{data:{cloneFrom: o.orderNumber}}" placement="top"
                                            ngbTooltip="Duplicar Pedido">
                                            <i class="fa fa-clone"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngIf="o.isExpanded" class="detail-row">
                                    <td colspan="10">
                                        <div class="detail-row-content">
                                            <table class="table details table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Produto</th>
                                                        <th>Status do Item</th>
                                                        <th class="text-right">Qtd.</th>
                                                        <th class="text-right">Preço</th>
                                                        <th>Data do Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let i of o.orderItems">
                                                        <td>
                                                            {{i.product}}
                                                        </td>
                                                        <td>
                                                            <app-order-item-status-label
                                                                [status]="{orderItemStatusId:i.orderItemStatusId, description: i.orderItemStatus}">
                                                            </app-order-item-status-label>
                                                        </td>
                                                        <td class="text-right">
                                                            {{i.quantity}} {{i.measureUnit}}
                                                        </td>
                                                        <td class="text-right">
                                                            {{i.finalPrice | cbmCurrency}}
                                                        </td>
                                                        <td>{{i.lastStatusDate | date: 'dd/MM/yyyy'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                        <tr *ngIf="orders.length == 0">
                            <td colspan="9" class="text-center">Nenhum pedido encontrado</td>
                        </tr>
                    </tbody>
                </table>
                <app-server-side-pager></app-server-side-pager>
            </div>
        </div>
    </div>
</div>
<ng-template #sorting>
    <ng-container [ngSwitch]="sortDirection">
        <i class="fa fa-sort-down" *ngSwitchCase="1"></i>
        <i class="fa fa-sort-up" *ngSwitchCase="2"></i>
    </ng-container>
</ng-template>
<ng-template #nosorting>
    <i class="fa fa-sort" ng-switch-default></i>
</ng-template>
<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Adicionar Item ao Pedido</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body ">
        <div class="row form-group">
            <div class="col-12">
                <label class="m-b-0">Nome do Cliente</label>
                <input type="text" class="form-control" [(ngModel)]="filter.customer" maxlength="100">
            </div>
            <div class="col-6">
                <label class="m-b-0">Status do Pedido</label>
                <ng-multiselect-dropdown [placeholder]="'Selecione'" [settings]="orderStatusSettings"
                    [data]="orderStatus" [(ngModel)]="filter.orderStatus" (onSelect)="onSelect($event)"
                    (onSelectAll)="onSelect($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="col-6">
                <label class="m-b-0">Status do Pagamento</label>
                <ng-multiselect-dropdown [placeholder]="'Selecione'" [settings]="paymentStatusSettings"
                    [data]="paymentStatus" [(ngModel)]="filter.paymentStatus" (onSelect)="onSelect($event)"
                    (onSelectAll)="onSelect($event)">
                </ng-multiselect-dropdown>
            </div>
            <div class="col-12  p-r-0">
                <label class="m-b-0">Data do Pedido</label>
                <div class="row col-12 p-r-0">
                    <div class="col-6 p-l-0">
                        De
                        <div class="input-group ">
                            <input class="form-control" type="text" [(ngModel)]="filter.createdOnFrom"
                                name="createdOnFrom" #createdOnFrom="ngbDatepicker" placement="bottom-left" readonly
                                ngbDatepicker>
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-sm" (click)="filter.createdOnFrom=null"
                                    type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" (click)="createdOnFrom.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-r-0">Até
                        <div class="input-group ">
                            <input class="form-control" type="text" [(ngModel)]="filter.createdOnTo" name="createdOnTo"
                                #createdOnTo="ngbDatepicker" placement="bottom-left" readonly ngbDatepicker>
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-sm" (click)="filter.createdOnTo=null"
                                    type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" (click)="createdOnTo.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  p-r-0">
                <label class="m-b-0">Data do Pagamento</label>
                <div class="row col-12 p-r-0">
                    <div class="col-6 p-l-0">
                        De
                        <div class="input-group ">
                            <input class="form-control" type="text" [(ngModel)]="filter.paidOnFrom" name="paidOnFrom"
                                #paidOnFrom="ngbDatepicker" placement="bottom-left" readonly ngbDatepicker>
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-sm" (click)="filter.paidOnFrom=null" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" (click)="paidOnFrom.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-r-0">Até
                        <div class="input-group ">
                            <input class="form-control" type="text" [(ngModel)]="filter.paidOnTo" name="createdOnTo"
                                #paidOnTo="ngbDatepicker" placement="bottom-left" readonly ngbDatepicker>
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-sm" (click)="filter.paidOnTo=null" type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" (click)="paidOnTo.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  p-r-0">
                <label class="m-b-0">Data para Finalizar Pedido</label>
                <div class="row col-12 p-r-0">
                    <div class="col-6 p-l-0">
                        De
                        <div class="input-group ">
                            <input class="form-control" type="text" [(ngModel)]="filter.completeByFrom"
                                name="completeByFrom" #completeByFrom="ngbDatepicker" placement="bottom-left" readonly
                                ngbDatepicker>
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-sm" (click)="filter.completeByFrom=null"
                                    type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" (click)="completeByFrom.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 p-r-0">Até
                        <div class="input-group ">
                            <input class="form-control" type="text" [(ngModel)]="filter.completeByTo"
                                name="completeByTo" #completeByTo="ngbDatepicker" placement="bottom-left" readonly
                                ngbDatepicker>
                            <div class="input-group-append">
                                <button class="btn btn-secondary btn-sm" (click)="filter.completeByTo=null"
                                    type="button">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button class="btn btn-primary btn-sm" (click)="completeByTo.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-mini" (click)="resetFilter()">
            Limpar
        </button>
        <button type="button" class="btn btn-primary btn-mini" (click)="newSearch()">
            Pesquisar
        </button>
    </div>
</ng-template>
<app-toasts></app-toasts>