table.parent {
    tbody {
        tr {
            td:nth-child(4),
            th:nth-child(4),
            td:nth-child(5) {
                text-align: right;
            }
            td:nth-child(5) {
                width: 50px;
            }
            td {
                div {
                    &.detail-row-content {
                        padding: 10px 10px 0 10px;
                        table {
                            &.details {
                                thead {
                                    th:nth-child(4) {
                                        text-align: left;
                                    }
                                    th:nth-child(5),
                                    th:nth-child(6) {
                                        text-align: right;
                                    }
                                }
                                tbody {
                                    td:nth-child(4) {
                                        text-align: left;
                                    }
                                    td:nth-child(5),
                                    td:nth-child(6) {
                                        text-align: right;
                                        width: auto;
                                    }
                                    td {
                                        a {
                                            cursor: pointer;
                                        }
                                        p {
                                            margin: 0;
                                            font-size: 12px;
                                            font-style: italic;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.bg-gray{    
    background-color: rgba(0, 0, 0, 0.05) !important;
}
.expanded-row {
    background-color: rgba(0, 0, 0, 0.05);
    border-left: solid 1px silver;
    border-right: solid 1px silver;
    border-top: solid 2px silver;
}
.detail-row {
    border-left: solid 1px silver;
    border-right: solid 1px silver;
    border-bottom: solid 2px silver;
}
