table th:nth-child(2), td:nth-child(2),
th:nth-child(3), td:nth-child(3){
    text-align: right;
}
.production-summary{
    text-align: center;
    font-weight: 500;
    color:#fff;
    padding-top:10px;
    padding-bottom: 10px;
    & div{
        border:solid 1px silver;
        padding:5px;
        font-size: 13.5px;
    }
    & div:nth-child(1){
        border-radius: 15px 0 0 15px;
        background-color: #3582db;
        border-left: none;
        width: 32%;
    }
    & div:nth-child(2){
        background-color: #f75757;
        border-left: none;
        border-right: none;
        width: 32%;
    }
    & div:nth-child(3){
        border-radius: 0 15px 15px 0;
        background-color: #42a259;
        border-right: none;
        width: 36%;
    }
}